{% extends 'base.html' %}

{% block content %}
    {% if initialPage %}
        <p style="color:grey">Try some searches like "Facebook the missing manual", then change Aplha to any value between 0 and 1 including decimals. Try it with several variations of Alpha. </p>
    {% endif %}
    <form method="post">
        <input type="text" name="search"
               placeholder="search..."
               value="{{ request.form['search'] }}" size=45% />
        <label for="alpha">Alpha</label>
        <input type="text" name="alpha"
               placeholder="0.3"
               value="{{ request.form['alpha'] }}" size="9" />
        <button type="submit">Search</button>
    </form>

    {% if results %}
        <h3>Results: </h3>
        {% for result in results %}

            {% for line in result['resultArray']['matches'] %}
                <div>
                    <a href="{{ line['metadata']['url'] }}" target="none">{{ line['metadata']['url'] }}</a>
                    <small>(Score: {{ line['score'] }})</small>
                </div>
            {% endfor %}

        {% endfor %}
    {% endif %}
{% endblock %}